body {
	font-size: 16px;
	background-color: #aabbcc;
	color: white;
	font-family: 'Montserrat', sans-serif;
	/*box-sizing: border-box;*/
}

#header-nav {
	background-color: #f6b319;
	border-radius: 0;
	border: 0;
}

#logo-img{
	background: url('../images/logo-large.png') no-repeat;
	width: 150px;
	height: 150px;
	margin:  10px 15px 10px 0px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 {
	font-size: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 2px 2px 2px #555;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus{
	text-decoration: none;
}

.navbar-header
{
	position: relative;
	width: 100%;
	display: flex; align-items: center;
}

.navbar-toggler
{
	position: relative;
	float: right;
	margin-left: auto;
}

/*
.navbar-brand p span {
	vertical-align: middle;
}
*/

#nav-list {
	margin-top: 10px;
	justify-content: flex-end;
}

#nav-list a {
	color: red;
	text-align: center;
	vertical-align: middle;
}

#nav-list a:hover {
	background-color: #E7E7E7;
}

#nav-list a span {
	font-size: 1.8em;
}

#phone {
	margin-top: 5px;
}

#phone a {
	text-align: right;
	padding-bottom: 0;
}

#phone div {
	text-align: right;
	padding-right: 0px;
}

.navbar-light .navbar-toggler {
	border: 1px solid red;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}


/* MAIN page content styles */
#main-content{
	margin-top: 30px;
}

.container .jumbotron {
	border: 1px solid grey;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

#menu-tile, #specials-tile, #map-tile { 
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 5px rgba(255,255,255,0.5);
}

#menu-tile span, #specials-tile span, #map-tile span {
	background-color: red;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 1.5em;
	text-transform: uppercase;
	opacity: .7;
	background-color: #000;
	color: white;
}

#menu-tile {
	background: url("../images/menu-tile.jpg") no-repeat;
	background-position: center;
}
#specials-tile {
	background: url("../images/specials-tile.jpg") no-repeat;
	background-position: center;
}
/* END of MAIN page */


/* FOOTER panel */

.panel-footer {
	margin-top: 40px;
	padding: 35px 0px 10px 0px;
	background-color: #555;
	border-top: 0;
	font-size: 14px;
}

.panel-footer .text-center {
	margin-top: 35px;
}

#hours, #address {
	line-height: 2;
}

#hours > span, #address > span {
	font-size: 1.2em;
	text-decoration: underline;
}

#about {
	font-style: italic;
}

#about p:nth-child(3) {
	font-size: 0.8em;
	margin-top: 30px;
}

.panel-footer hr {
	background-color: lightgrey;
	height: 1px;
	width: 50%;
}
/* END of FOOTER panel */


/* CATEGORY Page */
.category-tile {
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
	width: 200px;
	height: 200px;
	margin: 0px auto 15px;
}
.category-tile span {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.2em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}
.category-tile:hover {
	box-shadow: 0 1px 5px 1px #ccc;
}

#menu-categories-title + div {
	margin-bottom: 50px;
}
/* END of CATEGORY Page */


/* SINGLE Page */
.menu-item-tile {
	margin-bottom: 25px;
}

.menu-item-tile hr {
	width: 80%;
}

.menu-item-tile .menu-item-price {
	font-size: 1.1em;
	text-align: right;
	margin-right: -15px;
	margin-top: -15px;
}

.menu-item-tile .menu-item-price span {
	font-size: .6em;
}

.menu-item-photo {
	position: relative;
	border: 1px solid red;
	overflow: hidden;
	max-width: 250px;
	padding: 0;
	margin-left: auto;
	margin-right: -15px;
	margin-bottom: 20px;
}
.menu-item-photo div {
	position: absolute;
	bottom: 0;
	right: 0;
	width: 80px;
	text-align: center;
	background-color: #557c3e;
}

.menu-item-description {
	padding-right: 30px;
}

.menu-item-description .menu-item-title {
	margin: 0 0 10px;
}
.menu-item-description .menu-item-details {
	font-size: 0.9em;
	font-style: italic;
}
/* END of SINGLE Page */

@media (min-width: 1200px) {
	.container .jumbotron {
		background: url("../images/leaves-1200.jpg") no-repeat;
		height: 800px;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.container .jumbotron {
		background: url("../images/leaves-992.jpg") no-repeat;
		height: 661px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	#logo-img {
		background: url('../images/logo-medium.png') no-repeat;
		width: 100px;
		height: 100px;
		margin:  5px 5px 5px 0px;
	}

	div.container {
		max-width: 100%;
	}

	.container .jumbotron {
		background: url("../images/leaves-992.jpg") no-repeat;
		height: 661px;
	}
}

@media (min-width: 576px) and (max-width: 767px) {

	div.container {
		max-width: 100%;
	}

	.navbar-brand {
		padding-top: 10px;
		height: 80px;
	}

	.navbar-brand h1 {
		padding-top: 10px;
		font-size: 5vw;
	}

	.navbar-brand p {
		text-transform: uppercase;
		font-size: .6em;
		margin-top: 12px;
	}

	#collapsable-nav a {
		font-size: 1.2em;
	}

	#collapsable-nav a span {
		font-size: 1em;
		margin-right: 5px;
	}

	.container .jumbotron {
		background: url("../images/leaves-768.jpg") no-repeat;
		height: 512px;
	}
}

@media (max-width: 575px) {
	.container .jumbotron {
		padding: 0;
		margin-top: 30px;
	}

	#menu-tile, #specials-tile, #map-tile { 
		width: 385px;
		margin: 0 auto 15px auto;
	}

	.panel-footer section {
		text-align: center;
	}

	.panet-footer section:nth-child(3) {
		margin-bottom: 0;
	}

	.menu-item-photo {
		margin-left: auto;
		margin-right: auto;
	}

	.menu-item-tile .menu-item-price{
		text-align: center;
	}

	.menu-item-description {
		text-align: center;
	}
}

@media (max-width: 479px) {
	.navbar-brand h1 {
		font-size: 7vw;
	}
	.navbar-brand span {
		font-size: 5vw;
	}

	#menu-tile, #specials-tile, #map-tile { 
		width: 280px;
		margin: 0 auto 15px auto;
	}

	.col-xxs-12 {
		  position: relative;
		  float: left;
		  width: 100%;
		  padding-right: 15px;
		  padding-left: 15px;
	}
}

